
body{
  background-color: #EEEEEE;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin:0;
}

.container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

header{
  background-color: #2A6390;
  color: #ffffff;
  border-bottom: 3px #C20909 solid;
}

header #label{
  text-align: left;
  padding-top: 15px;
  padding-left: 30px;
  color: white;
}

header a{
  text-decoration: none;
  font-size: 16px;
  color: #e6e6e6;
}

header .selected, .highlight{
  text-decoration: none;
  color: red;
  font-weight: bold;
}

header ul{
  list-style-type: none;
  padding:0;
  margin:0;
}

header li{
  float:left;
  display: inline;
  padding: 0px 20px 0px 20px;
}


#main{
  background-color: grey;
  padding: 10px;
}

#content-topic{
  color: white;
  float: right;
  background-color: #C20909;
  text-align: center;
  width: 800px;
  padding-left: 5px;
  padding-right: 5px;
}

#content{
  float: right;
  background-color: white;
  width: 800px;
  padding: 5px;
}



#footer{
  clear: both;
  text-align: right;
  background-color: #999999;
  padding: 10px;
}
