
body{
  background-color: #EEEEEE;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

header{
  background-color: #2A6390;
  border-bottom: 10px #C20909 solid;
}

header #label{
  text-align: left;
  padding-top: 15px;
  padding-left: 30px;
  color: white;
}

nav a{
  text-decoration: none;
  color: #e6e6e6;
}

nav .selected{
  text-decoration: bold;
  color: red;
  font-weight: bold;
}

nav ul{
  list-style-type: none;
  padding: 0px;
}

nav{
  background-color: white;
  color: black;
  float: left;
  padding: 10px;
  width: 140px;
}

#main{
  background-color: grey;
  padding: 10px;
}

#content-topic{
  color: white;
  float: right;
  background-color: #C20909;
  text-align: center;
  width: 800px;
  padding-left: 5px;
  padding-right: 5px;
}

#content{
  float: right;
  background-color: white;
  width: 800px;
  padding: 5px;
}



#footer{
  clear: both;
  text-align: right;
  background-color: #999999;
  padding: 10px;
}
